@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Ubuntu, sans-serif !important;
}
:root{
  --primary-color : #e81922 !important;
}
.primary-color{
  color: #e81922;
}


.toggle-parent{
display: flex;
justify-content: flex-start;
align-items: center;
height: 70px;

}
.toggle{
width: 34px;
height: 3px;
background: gray;
position: relative;
margin: 0 18px;

}
/* .nav.open{
width: 250px;

} */
.toggle.active{
transform: rotate(45deg);
width: 40px;
}
.toggle.active::after{
top: 0;
width: 40px;
display: none;

}
.toggle.active::before{
bottom: 0;
transform: rotate(90deg);
width: 40px;

}

.toggle::after {
	content: "";
	width: 30px;
	height: 3px;
	background: gray;
	position: absolute;
	top: 10px;
}
.toggle::before{
content: "";
width: 40px;
height: 3px;
background: gray;
position: absolute;
bottom: 10px;
transition:.4s;
}


/* --------------------
      banner section 
-----------------------*/


.banner-text{
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner-text h1 {
	font-size: 77px;
}
.banner-text p {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}
.primary-button {
	border: none;
  width: 230px;
	padding: 13px 38px;
  padding-top: 15px;
	font-size: 19px;
	background: var(--primary-color);
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: 50px;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
}
.primary-button:hover{
  background: #1b0001;
}
.banner-img {
	width: 100%;
	height: 600px;
	background-image: url(img/shape-6.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-img img{
	width: 400px;
	height: 400px;
	border-radius: 50%;
}


/* --------------------
      breakfast section 
-----------------------*/

.breakfast-section {
	background: rgba(0, 0, 0, 0.137);
	height: 600px;
}
.breakfast-container {
	position: relative;
	height: 580px;
  width: 1200px;
  margin: 0 auto;
}
.circle {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	background-color: var(--primary-color);
	position: absolute;
	top: 29px;
	right: 267px;
}
.breakfast-img{

}
.breakfast-img img {
	width: 450px;
	height: 380px;
	position: absolute;
	top: 101px;
	right: 345px;
  border-radius: 10px;
}
.breakfast-text {
	height: 400px;
	width: 284px;
	background-color: white;
	padding: 22px;
	position: absolute;
	top: 171px;
	left: 312px;
  border-radius: 10px;
}
.breakfast-text h3 {
	font-size: 33px;
	margin-top: 10px;
}
.breakfast-text p {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}
.breakfast-text button {
	font-size: 14px;
	width: 190px;
	padding: 13px 0;
}

/* --------------------
      breakfast section 
-----------------------*/

.item-section{
  background-image: url(img/black.jpg);
  height: 1170px;
  position: relative;
}
.item-section::before{
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  background-image: url(img/-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item-contaner {
	position: absolute;
	bottom: 50px;
	right: 0;
	left: 0;
}
.item {
	color: white;
	background-color: rgba(255, 254, 254, 0.103);
	width: 356px;
	height: 320px;
  padding: 50px;
  border-radius: 8px;
}
.item-heading {
	justify-content: space-between;
}
.item-heading span {
	height: 70px;
	width: 70px;
	background: var(--primary-color);
	font-size: 32px;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
}
.item-heading h3 {
	line-height: 70px;
}
.item p {
	font-size: 17px;
	font-style: italic;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: rgb(219, 219, 219);
	margin-top: 19px;
}
.item button {
	border: none;
	background: no-repeat;
	color: white;
	border-bottom: 2px solid white;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;

}



.fastFood-secton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/3007283.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  color: white;
}
.fastFood-secton h4 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  letter-spacing: 2px;
}
.fastFood-secton h1 {
	font-size: 96px;
	letter-spacing: 2px;
}
.fastFood-secton p {
	font-size: 18px;
}
.fastFood-secton p a{
	color: white;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: .2s;
}
.fastFood-secton p a:hover{
	color: var(--primary-color);
  border-bottom: 1px solid white;
}
.fastFood-secton button{}



.burger-heading{
  width: 70%;
  margin: 0 auto;
}
.burger-heading p{
  font-size: 18px;
}