@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@300;400;500;600;700;800&family=Montserrat:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,500&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: Ubuntu, sans-serif !important;
}
:root{
  --primary-color : #e81922 !important;
}
.primary-color{
  color: #e81922;
}


.nav-bar{
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}
.navbar-show{
  opacity: 1;
  visibility: visible;
}

.nav-bar ul li {
	list-style: none;
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	color: gray;

}

.toggle-parent{
display: flex;
justify-content: flex-start;
align-items: center;
height: 70px;
}
.toggle{
width: 34px;
height: 3px;
background: gray;
position: relative;
margin: 0 18px;

}
/* .nav.open{
width: 250px;

} */
.toggle.active{
transform: rotate(45deg);
width: 40px;
}
.toggle.active::after{
top: 0;
width: 40px;
display: none;

}
.toggle.active::before{
bottom: 0;
transform: rotate(90deg);
width: 40px;

}

.toggle::after {
	content: "";
	width: 30px;
	height: 3px;
	background: gray;
	position: absolute;
	top: 10px;
}
.toggle::before{
content: "";
width: 40px;
height: 3px;
background: gray;
position: absolute;
bottom: 10px;
transition:.4s;
}


/* --------------------
      banner section 
-----------------------*/


.banner-text{
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.banner-text h1 {
	font-size: 77px;
}
.banner-text p {
	font-size: 18px;
	color: gray;
	font-weight: 500;
}
.primary-button {
	border: none;
  width: 230px;
	padding: 13px 38px;
  padding-top: 15px;
	font-size: 19px;
	background: var(--primary-color);
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	border-radius: 50px;
  transition: 0.2s;
  font-family: 'Open Sans', sans-serif;
}
.primary-button:hover{
  background: #1b0001;
}
.banner-img {
	width: 100%;
	height: 600px;
	background-image: url(img/shape-6.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-img img{
	width: 400px;
	height: 400px;
	border-radius: 50%;
}


/* --------------------
      breakfast section 
-----------------------*/

.breakfast-section {
	background: rgba(0, 0, 0, 0.137);
	height: 600px;
}
.breakfast-container {
	position: relative;
	height: 580px;
  width: 1200px;
  margin: 0 auto;
}
.circle {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	background-color: var(--primary-color);
	position: absolute;
	top: 29px;
	right: 200px;
}
.breakfast-img img {
	width: 450px;
	height: 380px;
	position: absolute;
	top: 106px;
	right: 281px;
	border-radius: 10px;
}
.breakfast-text {
	height: 400px;
	width: 284px;
	background-color: white;
	padding: 22px;
	position: absolute;
	top: 155px;
	left: 254px;
	border-radius: 10px;
}
.breakfast-text h3 {
	font-size: 33px;
	margin-top: 10px;
}
.breakfast-text p {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
}
.breakfast-text button {
	font-size: 14px;
	width: 190px;
	padding: 13px 0;
}

/* --------------------
      item section 
-----------------------*/

.item-section{
  background-image: url(img/black.jpg);
  height: 1170px;
  position: relative;
}
.item-section::before{
  content: "";
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  background-image: url(img/-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.item-contaner {
	position: absolute;
	bottom: 50px;
	right: 0;
	left: 0;
}
.item {
	color: white;
	background-color: rgba(255, 254, 254, 0.103);
	width: 356px;
	height: 320px;
  padding: 50px;
  border-radius: 8px;
}
.item-heading {
	justify-content: space-between;
}
.item-heading span {
	height: 70px;
	width: 70px;
	background: var(--primary-color);
	font-size: 32px;
	text-align: center;
	line-height: 70px;
	border-radius: 50%;
}
.item-heading h3 {
	line-height: 70px;
}
.item p {
	font-size: 17px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	color: rgb(219, 219, 219);
	margin-top: 19px;
}
.item button {
	border: none;
	background: no-repeat;
	color: white;
	border-bottom: 2px solid white;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
  transition: .2s;
}
.item button:hover{
	color: white;
	border-bottom: 2px solid var(--primary-color);
	font-size: 25px;
}

/* --------------------
      fast food section 
-----------------------*/

.fastFood-secton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/3007283.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  color: white;
}
.fastFood-secton h4 {
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  letter-spacing: 2px;
}
.fastFood-secton h1 {
	font-size: 96px;
	letter-spacing: 2px;
}
.fastFood-secton p {
	font-size: 18px;
}
.fastFood-secton p a{
	color: white;
  text-decoration: none;
  border-bottom: 1px solid var(--primary-color);
  transition: .2s;
}
.fastFood-secton p a:hover{
	color: var(--primary-color);
  border-bottom: 1px solid white;
}


/* --------------------
      burger section 
-----------------------*/



.burger-heading{
  width: 70%;
  margin: 0 auto;
}
.burger-heading p {
	font-size: 18px;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 17px;
}
.burger-item{
  background-image: url(img/burger1.jpg);
  width: 100%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.item2{
  background-image: url(img/burger3.jpg);
}
.item3{
  background-image: url(img/burger2.jpg);
}
.item4{
  background-image: url(img/burger4.jpg);
}
.item5{
  background-image: url(img/burger6.jpg);
}
.item6{
  background-image: url(img/burger7.jpg);
}


.burger-details{
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.507);
  color: white;
  text-align: center;
}
.burger-details h4 {
	margin-top: 52px;
	font-size: 28px;
}
.burger-details h5 {
	font-size: 25px;
	color: #eb2f38;
	margin: 18px 0;
}

.burger-details button {
	width: 160px;
	font-size: 14px;
	padding: 11px 0;
}
.burger-details button:hover{
  background-color: #dd4d54;
}

/* --------------------
      roll section 
-----------------------*/
.roll-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/6197-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    color: white;
}


.carousel-item{
  background-color: white;
  text-align: center;
  color: black;
  padding: 15px 50px;
  height: 500px;
  border-radius: 10px;
}
.carousel-item span {
	font-size: 66px;
	color: var(--primary-color);
	padding: 20px 0;
}
.carousel-item p{
  margin: 27px 0;
  font-size: 18px;
	font-family: 'Poppins', sans-serif;
  color: gray;
}
.carousel-item button {
	width: 175px;
	font-size: 15px;
	padding: 12px 0;
	font-weight: 300;
	background: white;
	color: black;
	border: 2px solid var(--primary-color);
  letter-spacing: 1px;
}
.carousel-item button:hover{
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
}

/* --------------------
      subscribe section 
-----------------------*/
.subscribe-section{
  background-color: #1a1a1a;
}
.sub-container h1 {
	font-size: 52px;
	text-transform: uppercase;
}
.sub-container p {
	font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: rgb(211, 211, 211);
}
.sub-field input {
	border: none;
	background: inherit;
	border-bottom: 2px solid var(--primary-color);
	width: 249px;
	border-radius: 30px;
	padding: 0 20px;
  color: rgb(190, 190, 190);
  text-align: center;
  margin-right: 10px;
}
.sub-field input:focus{
  border: none;
  outline: none;
  background-color: white;
  color: rgb(90, 90, 90);
  border: 2px solid var(--primary-color);
}
.sub-field button {
	width: 200px;
	padding: 13px 0;
	font-weight: 600;
  background-color: #500a0d;
}
.sub-field button:hover{
  background-color: #500a0d;
  
}

.copy-right{
  color: gray;
  text-align: center;
}
.copy-right a{
  color: white;
}



@media (max-width: 600px) {
  .container{
    width: 90%;
  }
  .banner-text {
    text-align: center;
    align-items: center;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .banner-text p {
    font-size: 15px;
  }
  .primary-button {
    width: 199px;
    padding: 10px 20px;
    padding-top: 12px;
    font-size: 15px;
    font-weight: 600;
  }
  .banner-img {
    width: 100%;
    height: 382px;
  }
  .banner-img img {
    width: 275px;
    height: auto;
  }
  .gallery-img {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .item-section {
    background-image: url(img/black.jpg);
    height: 2100px;
  }
  .breakfast-container {
    height: 580px;
    width: 90%;
  }
  .circle {
    height: 90px;
    width: 90px;
    top: 29px;
    right: 30px;
  }
  .breakfast-img img {
    width: 299px;
    height: 224px;
    top: 68px;
    right: 66px;
  }
  .breakfast-text p {
    font-size: 14px;
  }
  .breakfast-text h3 {
    font-size: 29px;
    margin-top: 0px;
  }
  .breakfast-text {
    height: 315px;
    width: 250px;
    padding: 22px;
    top: 222px;
    left: 64px;
  }
  .breakfast-text button {
    font-size: 13px;
    width: 149px;
    padding: 11px 0;
    letter-spacing: 0.5px;
  }
  .item-heading span {
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    border-radius: 50%;
  }
  .item-heading h3 {
    line-height: 46px;
  }
  .item p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(219, 219, 219);
    margin-top: 16px;
  }
  .item {
    color: white;
    background-color: rgba(255, 254, 254, 0.103);
    width: 288px;
    height: 281px;
    padding: 35px;
    border-radius: 8px;
  }
  .fastFood-secton h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
  }
  .fastFood-secton h1 {
    font-size: 47px;
    letter-spacing: 2px;
    text-align: center;
  }
  .fastFood-secton p {
    font-size: 16px;
    text-align: center;
  }
  .fastfood-item {
    text-align: center;
  }
  .burger-heading p {
    font-size: 15px;
  }
  .burger-details h4 {
    margin-top: 50px;
    font-size: 17px;
  }
  .burger-details h5 {
    font-size: 18px;
    margin: 10px 0;
  }
  .burger-details button {
    width: 127px;
    font-size: 13px;
    padding: 9px 0;
    letter-spacing: 0.5px;
  }
  .burger-item {
    width: 100%;
    height: 186px;
  }
  .carousel-item p {
    margin: 4px 0;
    font-size: 15px;
  }
  .carousel-item {
    padding: 15px 50px;
    height: 400px;
    border-radius: 10px;
  }
  .carousel-item button {
    width: 162px;
    font-size: 14px;
    padding: 8px 0;
  }
  .sub-container h1 {
    font-size: 33px;
    margin-top: 19px;
  }
  .sub-container p {
    font-size: 15px;
  }
  .sub-field button {
    width: 141px;
    padding: 13px 0;
    font-size: 14px;
  }
  .sub-field input {
    width: 233px;
  }
}